#vid{
    margin-left: 280px;
    margin-top: 20px;
}
.titreHome{

    margin-left: 510px;
    margin-top: -135px;
    
}
.PHome{
    margin-left: 510px;
    margin-top: -10px;
    color: gray;
}
#icon2Home{
    font-size: 10px;
}