p{
    margin-left: 620px;
}
span{
    margin-top: 80px;
    color: white;

}
.bouttonHeaderImage{
    margin-top: 40px;
}
.hHeaderImage{
    margin-left: 55px;
    cursor: pointer;
    color: white;
  
   
}
.spanHeaderImage{
    margin-left: 55px;
    cursor: pointer;
}
.contenuHeaderImage{
    margin-left: 83px;
  
}

.Imagejeux{
    background-image: url("https://i.ytimg.com/vi/-kCePEEBjvc/maxresdefault.jpg");
    
}