.jeux1{
    width: 140px;
    height:195px;
    border-radius: 0px;
    margin-left: 350px;

}
.j1{
    margin-left: 353px;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: -2px;
}
.img2{
    width:138px;
    height:193px;
    border-radius: 0px;
    margin-left: -21px;
}
.j2{
    margin-left: 10px;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: -2px;
}

.img3 {
    width: 138px;
    height:192px;
    border-radius: 0px;
    margin-left: -71px;
  
}
.j3 {
    margin-left: -43px;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: -2px;
    
}

.img4{
    width: 142px;
    height:192px;
    border-radius: 0px;
    margin-left: -120px;
    
}
.j4{
    margin-left: -80px;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: -2px;
}


.img5{
    width: 138px;
    height:190px;
    border-radius: 0px;
    margin-left: -164px;
    
}
.j5{
    margin-left: -130px;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: -2px;
}

.img6{
    width: 142px;
    height:190px;
    border-radius: 0px;
    margin-left: -215px;
    
}
.j6{
    margin-left: -180px;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: -2px;
}
