/*thiz l vid kol img w details*/
/*bin comp fou9 w comp ta7t*/
.Video__comp{
    margin-left: 0px;
    margin-bottom:40px; 
}

.videoVid{
    width:200px;
    height: fit-content;
    border-radius: 0;
    
}

.avatar__block{
}

/*image avatar + klem*/
.detailsVideoVid{
    width:230px; 
    margin-top:5px;
    display:flex; 
    flex-direction:row; 
    margin-left: -80px;
    margin-left:0px;
    /* margin-bottom:24px; espace ktiba w vid ta7t */
} 

.textVideoVid{
    margin-top: -5px;
    max-width:200px;
    font-size: 10px;
    margin-left: 5px;
}

/*channel*/
.textVideoVid > p{
   
    max-width:100px;
    margin-left:0px;
    font-size: 10px;
    margin-top: -7px;
    margin-bottom:2px;
}
/*title*/
.textVideoVid h3{
    font-size:14px;
    font-weight:500;
    margin-top: 2px;
}
/*views + timelapse*/
.text > small{
    /* margin-top: -10px; */

}
