.Biblio-Icon{
    font-size:80px;
    margin-left: 625px;
    margin-top: 80px;
}

.Biblio-Title{
    font-size:15px;
    margin-left: 560px;
}

.Biblio-text{
    font-size:10px;
    margin-left:450px;
}

