.liNav{
    text-decoration: none;
    color:gray;
    font-weight: bold;
}
.navbar{
    background-color: #f9f9f9;
    width:1350px;
    margin-top: 55px;
    height: 100px;

}
.ulNav{
    display: flex;
    list-style: none;
    margin-top: 10px;
    margin-left: 240px;

}

.Navinput{
    width: 50px;
    height: 10px;
    border: none;
}
.Navinput[type=text] {
    border: none;
    border-bottom: 1px solid black;  
}
.icon1Nav{
    font-size: 40px;
    margin-top: -10px ;
}
li:hover{

    color: black;
  
    cursor: pointer;
    
}
#homeNav{

    border-bottom:4px  solid gray;
    cursor: pointer;
}