.titleTous{
    margin-top:5px;
    margin-left: 280px;
}
#lotaTous{
 margin-left: 280px;
 font-size: 13px;

}
#descTous{
    margin-left: 280px;
    font-size: 13px;
}
#icon3Tous{
    font-size: 10px;
}