.commen
{
    margin-left: 5%;
    margin-top:  5%;
}
#reply
{
    color:#606060;
    font-size: 12px;
    font-family: Roboto,Arial,sans-serif;
    margin-left: 10px;
}
.rea
{
    margin-left: -18px;
    
}
.ktiba
{
    margin-left: 3%;
    margin-top: -3%;
    font-size: 12px;
}

#com
{
   margin-top: -1px;
   margin-left: -0,5px;
}
.detailsRecomd
{
    margin-left: -90px;
    margin-top: 7px;
    font-size: 14px;
}


.pro
{
    font-size: 200%;
}